.dialogs {
   display: grid;
   grid-template-columns: 0.5fr 2fr;
   min-height: 100vh;
   margin: 5%;
}

.dialog a {
   text-decoration: none;
   transition: all 200ms;
}

.dialog a:hover {
   padding-left: 5px;
   transition: all 200ms;
}

.dialogsItems {
   font-size: 17px;
}

.messages {
   color: rgb(240, 240, 240);
   font-size: 17px;
}

.addMessage {
   margin-top: 15px;
}




