.users_wrapper {
    flex: 0 0 100%;
    max-width: 100%;
}

.paginator {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.users {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
}





